#newsletter-popup-form {
  display: block;
  position: relative;
  background: url('../../img/newsletter-popup-form.gif') no-repeat;
  width: 349px!important;
  height: 173px!important;
  padding: 15px!important;
}



/* Subscribe Form 
-----------------------------------*/

#newsletter-popup-form input#sub {
  width: 278px !important;
  height: 45px !important;
  margin: 51px 0 14px 24px;
  padding: 0px 10px 0px 10px !important;
  border:1px solid #d4d4d4;
  outline: none;
  background: #fbfbfb;
  color: #939393;
  font-weight:normal;
  font-size:1.5em;
  text-transform: none;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  float: left;
}

.lt-ie9 #newsletter-popup-form input#sub {
	line-height: 47px;
}

#newsletter-popup-form input#sub:focus {
	color: #444;
}

#newsletter-popup-form input#subsubmit {
  float: right;
  width: 300px;
  height: 47px;
  line-height: 47px;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0 24px 0 0;;
  padding: 0;
  color: #735800;
  text-shadow: 0px 1px 1px #fff;
  background: rgb(255,219,30);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGIxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmFhMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,219,30,1) 0%, rgba(255,170,29,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,219,30,1)), color-stop(100%,rgba(255,170,29,1)));
background: -webkit-linear-gradient(top,  rgba(255,219,30,1) 0%,rgba(255,170,29,1) 100%);
background: -o-linear-gradient(top,  rgba(255,219,30,1) 0%,rgba(255,170,29,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,219,30,1) 0%,rgba(255,170,29,1) 100%);
background: linear-gradient(top,  rgba(255,219,30,1) 0%,rgba(255,170,29,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb1e', endColorstr='#ffaa1d',GradientType=0 );
 }
 
#newsletter-popup-form input#subsubmit:hover {
 	background: rgb(255,170,29);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWExZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmRiMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,170,29,1) 0%, rgba(255,219,30,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,170,29,1)), color-stop(100%,rgba(255,219,30,1)));
background: -webkit-linear-gradient(top,  rgba(255,170,29,1) 0%,rgba(255,219,30,1) 100%);
background: -o-linear-gradient(top,  rgba(255,170,29,1) 0%,rgba(255,219,30,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,170,29,1) 0%,rgba(255,219,30,1) 100%);
background: linear-gradient(top,  rgba(255,170,29,1) 0%,rgba(255,219,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa1d', endColorstr='#ffdb1e',GradientType=0 );
}
/* End of Subscribe Form */